/*body全体*/
body{
  background-color: #7ec7e4 ;
  color: #fdffff;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*名前入力欄*/
input{
  width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*診断を始めるボタン*/
button{
  padding: 10px 100px;
  background-color: #7b9fc0;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  color: #fdffff;
}